{% extends "_flights_app/base.html" %}
{% block title%}
  Flight {{flight.id}}
{%endblock%}

{% block body%}
  <h1> Flights {{flight.id}} </h1>
    <ul>
      <li> Origin: {{flight.origin}}</li>
      <li> Destination: {{flight.destination}}</li>
    </ul>
    <h2> Passengers</h2>
    <ul>
      {% for passenger in passengers %}
        <li> {{ passenger }}</li>
      {% empty %}
        <li> No passengers.</li>
      {% endfor %}
    </ul>
    <hr>
    <h2> Add a Passenger </h2>
    {% if non_passengers %}
      <form class="" action="{% url 'book' flight.id %}" method="post">
        {% csrf_token %}
        <select class="" name="passenger">
          {% for passenger in non_passengers %}
            <option value="{{passenger.id}}"> {{passenger}}</option>
          {% endfor%}
        </select>
        <input type="submit" name="" value="Book flight">
      </form>
    {% else %}
      <div class="">
        No passengers to add.
      </div>
    {% endif %}
    <a href="{% url 'index' %}"> Back to full flight listing</a>
{%endblock%}
