{% extends "users/base.html" %}

{% block body %}
<h1> Svi ucenici </h1>
  <ul>
    <li> {{ucenici}}</li>
  </ul>
<hr>
<h2> Dodaj ucenika </h2>
     <form class="" action="{% url 'ucenici' %}" method="post">
       {% csrf_token %}
      <h3> Dodaj smjer </h3>
      <select class="" name="smjer">
         {% for smjer in smjerovi %}
           <option value="{{smjer.id}}"> {{smjer}}</option>
         {% endfor%}
       </select>
       <input type="submit" name="" value="Dodaj ucenika">
     </form>
     <label for=""> Ucenici id: {{ucenici.id}}</label>
   <a href="{% url 'tehnicka:index' %}"> Lista ucenika</a>
{% endblock %}
