{% extends "tehnicka/base.html" %}

{% block body %}
  {% if message %}
    <div class="">
      {{message}}
    </div>
  {%endif%}

    <form method="POST" class="post-form" action="{%url 'tehnicka:details' ucenik.id%}">
        {% csrf_token %}
        <label for="ime"> Ime: </label> <input type="text" name="ime" value="{{ucenik.ime}}"> <br>
        <label for="prezime"> Prezime: </label> <input type="text" name="prezime" value="{{ucenik.prezime}}"> <br>
        <label for="jmbg"> JMBG: </label> <input type="number" name="jmbg" value="{{ucenik.JMBG}}"> <br>
        <label for="smjer"> Smjer:</label>
        <select class="" name="smjer">
          {% for smjer in smjerovi %}
            <option value="{{smjer.id}}"> {{smjer.naziv}}</option>
          {% endfor%}
        </select> <br>
        <label for="ocjene">Unesi ocjene iz predmeta</label><br>
        {% if ocjene %} {# ocjene nije prazno #}
          {% for  ocjena in ocjene  %}
            <label for="predmeti"> {{ocjena.predmet_id.naziv}}: </label>
            <input type="number" name="ocjena" value="{{ocjena.ocjena}}" min="2" max="5"> <br>
          {% endfor %}
        {%else%}
          {% for predmet in predmeti %}
            <label for="predmeti"> {{predmet.naziv}}: </label>
            <input type="number" name="ocjena" value="" min="2" max="5"> <br>
          {%endfor%}
        {% endif %}
        <br><br>
        <button type="submit" class="save btn btn-default">Spasi</button>
    </form>

{% endblock %}
